services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: fastitem_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ssl_certs:/etc/letsencrypt
      - certbot_www:/var/www/certbot
      - ./nginx-reload.sh:/nginx-reload.sh
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - app-network
    command: /bin/sh -c "nginx -g 'daemon off;' & /nginx-reload.sh"

  certbot:
    image: certbot/certbot
    container_name: fastitem_certbot
    volumes:
      - ssl_certs:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    entrypoint: >
      sh -c "trap exit TERM; while :; do
      certbot renew --webroot -w /var/www/certbot --quiet;
      sleep 12h;
      done"
    depends_on:
      - nginx
    networks:
      - app-network

volumes:
  ssl_certs:
  certbot_www:

networks:
  app-network:
    driver: bridge
